.Meals1 {
  width: 100%;
  height: 35rem;
  z-index: 0;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}

.Header-things {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a2b06;
}

.Header-things button {
  margin-right: 100px;
}
.Header-things h1 {
  margin-left: 100px;
  color: white;
}
.svg-cart {
  margin-right: 30px;
  color: white;
}
.name-cart {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.name-cart {
  margin-top: 3px;
  font-size: 16px;
  color: white;
}
.items {
  margin-left: 20px;
  border: 2px solid #8a2b06;
  color: white;
  padding: 8px;
  font-size: 15px;
  border-radius: 30%;
  background-color: #8a2b06;
}
.Cart-icon {
  border-radius: 35px;
  border-color: rgba(0, 0, 0, 0.548);

  width: 220px;
  height: 50px;
  
  background-color:rgba(0, 0, 0, 0.548);
}
